{% extends 'base.html.twig' %}
{% block title 'Add Video'%}
{% block body %}
    <div class = "row">
        <div class= "col-md-6 mx-auto">
            <h1 align="center">Créer une nouvelle Video</h1>
            {{form(monForm)}}
        </div>
    </div>
{% endblock %}
